<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YT Saver</title>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
        <input type="text" name="given_url" value="{{url}}" placeholder="enter url..">
        <button type="submit" name="fetch-vid">Proceed</button>
    </form>
    <h3>{{vidTitle}}</h3>
    <img src="{{vidThumbnail}}"/>
    {% for x in qual %}
        <p>{{x}}</p>
        <!-- PROBLEM ABOUT THIS DOWNLOADS -->
        <!-- <button onclick="window.location.href = '/{{x}}/{{stream}}'">Download</button></a> -->
    {% endfor %}

</body>
</html>